{% extends 'system/base.html' %}

{% block header %}
<script>

function load_filters() {
    show_throbber('#filter-table-body');
    
    var API_URL = BASE_URL + 'api/filter/read';

    $.getJSON(API_URL, function(d) {
        var tbody = $('#filter-table-body');
        tbody.empty();
        
        $.each(d.filters, function(i, filter) {
            var tr = get_tr_for_filter(filter);
            tr.appendTo(tbody);
        });

        if(d.filters.length == 0) {
            tbody.append('<tr><td colspan="999"><center>No filters are currently active.</center></td></tr>');
        }

        hide_throbber('#filter-table-body');
    });
}

function get_tr_for_filter(filter) {
    var tr = $('<tr>', {'data-index': filter.name});
    var checkbox = $('<input>', {type: 'checkbox',
                                 class: 'filter-select-toggle',
                                 'data-index': filter.name});
    $('<td>', {html: checkbox}).appendTo(tr);
    $('<td>', {text: filter.name}).appendTo(tr);

    var td_div = $('<td>').appendTo(tr);

    $.each(filter.action.split(','), function(k, v) { 
        $('<div>', {text: v}).appendTo(td_div);
    });
    return tr;
}

function add_filter() {
    var API_URL = BASE_URL + 'api/filter/create';
    var name = $('#filter-name').val();
    var atoms = [];

    $('form.atoms').each(function(d) {
        var k = {};
        var j = $(this).serializeArray();

        $.each(j, function(i, n) {
            k[n.name] = n.value;
        });
        k = JSON.stringify(k);
        atoms.push(k);
    });

    $.getJSON(API_URL, {atoms:atoms, 'name':name}, function(d) {
        if(d.error) {
            alert("Error: Failed to add new filter: " + d.error);
        } else {
            alert(d.success);
            load_filters();
            $('#add-filter-modal').modal('hide');
        }
    });
}

function add_new_atom() {
    var html = '<form class="atoms form-inline" role="form"> \
                    <div class="row" style="margin:0 0 10px 10px;"> \
                        <div class="checkbox col-xs-2" style="width:auto;"> \
                            <select name="column_name" class="form-control" id="new-atom"> \
                                <option>Date</option> \
                                <option>Trap OID</option> \
                                <option>Enterprise OID</option> \
                                <option>Hostname</option> \
                                <option>Category</option> \
                                <option>Severity</option> \
                                <option>Up Time</option> \
                                <option>Trap Time</option> \
                            </select> \
                        </div> \
                        <div class="form-group col-xs-3" style="width:auto;"> \
                            <select name="comparison" class="form-control" id="comparison"> \
                                <option value="=">=</option> \
                                <option value=">">></option> \
                                <option value="<"><</option> \
                                <option value=">=">>=</option> \
                                <option value="<="><=</option> \
                                <option value="none">none</option> \
                            </select> \
                        </div> \
                        <div class="form-group col-xs-5"> \
                            <input name="val" class="form-control" placeholder=".."> \
                        </div> \
                        <div class="form-group"> \
                            <button type="button" class="remove_atom btn btn-default"> \
                                <span class="glyphicon glyphicon-remove" style="color:#C00000;"></span> \
                            </button> \
                        </div> \
                    </div> \
                </form>';
    $('#insert-div').append(html);
    bind_buttons();
}

function bind_buttons() {
    $('.remove_atom').unbind('click');

    $('.remove_atom').click(function() {
        $(this).closest('form.atoms').remove();
    });
}

$(document).ready(function() {

    load_filters();

    $('#add-filter-click, #modal-reset').click(function() {
        $('#insert-div').empty();
        $('#filter-name').val("");
        add_new_atom();
        $('#add-filter-modal').modal('show');
    });

    $('#add-new-filter').click(function() {
        add_filter();
    });

    $('#new-atom-button').click(function() {
        add_new_atom();
    });

    $('#toggle').click(function() {
        var checkboxes = $('.filter-select-toggle');
        checkboxes.attr('checked', !checkboxes.attr('checked'));
    });

    $('.delete-selected').click(function() {
        var API_URL = BASE_URL + 'api/filter/delete';
        
        $('.filter-select-toggle:checked').each(function() {
            var data = {name : $(this).attr('data-index')};
            $.getJSON(API_URL, data, function(data) {
                if(data.error) {
                    alert(data.error);
                } else {
                    $(this).parent().parent().remove();
                    load_filters();
                }
            })
        })
    });

    $('.edit-selected').click(function() {
        var API_URL = BASE_URL + 'api/filter/read';
        
        $('.filter-select-toggle:checked').each(function() {
            var data = {name : $(this).attr('data-index')};
            $.getJSON(API_URL, data, function(data) {
                if(data.error) {
                    alert(data.error);
                } else {
                    $('#add-filter-modal').modal('show');
                    $(this).parent().parent().val(data);
                    load_filters();
                }
            })
        })
    });
})
</script>
{% endblock header %}

{% block content %}
<div class='row container content'>
    <div class="col-md-6">
        <button type="button" class="btn btn-primary btn-lg add-filter" id="add-filter-click">Add New Filter</button>
    </div>
    <div class="col-md-6"></div>
</div>

<div id='filter-content' class='row container content'>
    <div class='panel panel-default'>
        <div class='panel-heading' id='pagination-summary'></div>
        <div id='pagination' class='panel-body text-center'></div>
        <div class='pull-left'>
            <div class='btn-group btn-group-sm trap-controllers'>
                <button type='button' class='btn btn-default btn-delete'>
                    <a alt='Delete Selected' data-toggle='tooltip' title='Delete Selected' class='delete-selected glyphicon glyphicon-remove'></a>
                </button>
                <label class='btn btn-default btn-edit'>
                    <a alt='Edit Selected' data-toggle='tooltip' title='Edit Selected' class='edit-selected glyphicon glyphicon-pencil'></a>
                </label>
            </div>
        </div>
        <table id='filter-table' class='table table-condensed table-striped table-hover table-bordered'>
            <thead id='filter-table-head'>
                <tr>
                    <th class='text-center toggle-checkbox'><input type="checkbox" id="toggle"></th>
                    <th class='text-center'>Name</th>
                    <th class='text-center'>Description</th>
                </tr>
            </thead>
            <tfoot id='filter-table-foot'>
                <tr>
                    <td colspan='999'>
                        <div class='pull-left'>
                            <div class='btn-group btn-group-sm trap-controllers'>
                                <button type='button' class='btn btn-default btn-delete'>
                                    <a alt='Delete Selected' data-toggle='tooltip' title='Delete Selected' class='delete-selected glyphicon glyphicon-remove'></a>
                                </button>
                                <label class='btn btn-default btn-edit'>
                                    <a alt='Edit Selected' data-toggle='tooltip' title='Edit Selected' class='edit-selected glyphicon glyphicon-pencil'></a>
                                </label>
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
            <tbody class='text-center' id='filter-table-body'>
            </tbody>
        </table>
    </div>
</div>

<div class='modal fade' id='error-message' tabindex='-1' role='dialog' aria-labelledby='error-message-label' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
                <h4 class='modal-title'>Error Handling Request</h4>
            </div>
            <div id='modal-body-error' class='modal-body'></div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-primary' data-dismiss='modal'>Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-filter-modal" hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Create A New Filter</h4>
      </div>
      <div class="modal-body">
        <form>
            <table>
                <td valign="top">
                    <label>New Filter Name:</label>
                    <input type="text" class="form-control" id="filter-name" placeholder="New Filter"><br><br>
                </td>
            </table>
        </form>
        <div id="atom-home">
            <h4 class="modal-title">Filters</h4><br>
            <div id="insert-div">
            </div>
            <br>
            <input type="button" id="new-atom-button" class="btn btn-default" value="Add New Filter">
        </div>

          <div class="modal-footer">
            <button type="reset" class="btn btn-default" id="modal-reset">Reset</button>
            <button type="submit" class="btn btn-primary" id="add-new-filter">Add New Filter</button>
          </div>
        </div>
    </div>
</div>
{% endblock content %}