{% extends 'system/base.html' %}

{% block header %}
<script>
function load_filters() {
    show_throbber('#filter-table-body');
    
    var API_URL = BASE_URL + 'api/filter/read';

    $.getJSON(API_URL, function(d) {
        var tbody = $('#filter-table-body');
        tbody.empty();   
        
        $.each(d.filters, function(i, filter) {
            var tr = get_tr_for_filter(filter);
            tr.appendTo(tbody);
        });

        if (d.filters.length == 0) {
            tbody.append('<tr><td colspan="999"><center>No filters are currently active.</center></td></tr>');
        }

        hide_throbber('#filter-table-body');
    })
}

function add_new_filter(filter) {
    var tr = $('<tr>', {'data-index': filter.name});
    var button = $('<input>', {type: 'button',
                               class: 'add-filter',
                               'data-index': filter.name});
    $('<td>', {html: button}).appendTo(tr);
    $('<td>', {text: filter.name}).appendTo(tr);
    $('<td>', {text: filter.action}).appendTo(tr);

    return tr;
}

function get_tr_for_filter(filter) {
    var tr = $('<tr>', {'data-index': filter.name});
    var checkbox = $('<input>', {type: 'checkbox',
                                 class: 'filter-select-toggle',
                                 'data-index': filter.name});
    $('<td>', {html: checkbox}).appendTo(tr);
    $('<td>', {text: filter.name}).appendTo(tr);
    $('<td>', {text: filter.action}).appendTo(tr);

    return tr;
}

$(document).ready(function() {

    load_filters();

    $('.add-filter').click(function() {
        var API_URL = BASE_URL + 'api/filterlist/add';


        add_new_filter();
    });

    $('#toggle').click(function() {
        var checkboxes = $('.filter-select-toggle');
        checkboxes.attr('checked', !checkboxes.attr('checked'));
    });

    $('.delete-selected').click(function() {
        var API_URL = BASE_URL + 'api/filter/delete';
        
        $('.filter-select-toggle:checked').each(function() {
            var data = {name : $(this).attr('data-index')};
            $.getJSON(API_URL, data, function(data) {
                if(data.error) {
                    alert(data.error);
                } else {
                    $(this).parent().parent().remove();
                }
            })
        })
    });
    
})
</script>
{% endblock header %}

{% block content %}
<div class='row container content'>
    <div class="col-md-6">
        <button type="button" class="btn btn-primary btn-lg add-filter" data-toggle="modal" data-target="add_filter" aria-hidden="true">Add New Filter</button>
            <div class="filter fade" id="add_filter">
              <div class="filter-dialog">
                <div class="filter-content">
                  <div class="filter-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="filter-title">New Filter</h4>
                  </div>
                  <div class="filter-body">
                    <form action="add_filter">
                        <table>
                            <td valign="top">
                                <label value="Filter Name" id="filter_name">
                                <input type="text" id="filter_name">
                            </td>
                    </form>
                    <h4 class="filter-title">Filters</h4>
                    <form>
                        <table>
                            <tr>
                                <td valign="top">
                                    <input type="checkbox" class="checkbox" id="date">
                                </td>
                                <td>
                                    <label>Date:</label>
                                    <input type="text" class="text" id="date">
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <input type="checkbox" class="checkbox" id="trapoid">
                                </td>
                                <td>
                                    <label>Trap OID:</label>
                                    <input type="text" class="text" id="trapoid">
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <input type="checkbox" class="checkbox" id="enterprise">
                                </td>
                                <td>
                                    <label>Enterprise OID:</label>
                                    <input type="text" class="text" id="enterprise">
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <input type="checkbox" class="checkbox" id="hostname">
                                </td>
                                <td>
                                    <label>Hostname:</label>
                                    <input type="text" class="text" id="hostname">
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <input type="checkbox" class="checkbox" id="category">
                                </td>
                                <td>
                                    <label>Category:</label>
                                    <input type="text" class="text" id="category">
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <input type="checkbox" class="checkbox" id="severity">
                                </td>
                                <td>
                                    <label>Severity:</label>
                                    <input type="text" class="text" id="severity">
                                </td>
                            </tr>
                        </table>
                    </form>
                  </div>
                  <div class="filter-footer">
                    <button type="reset" class="btn btn-default" data-dismiss="modal">Reset</button>
                    <button type="button" class="btn btn-primary">Add Filter</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div>
    </div>
    <div class="col-md-6"></div>
</div>

<div id='filter-content' class='row container content'>
    <div class='panel panel-default'>
        <div class='panel-heading' id='pagination-summary'></div>
        <div id='pagination' class='panel-body text-center'></div>
        <div class='pull-left'>
            <div class='btn-group btn-group-sm trap-controllers'>
                <button type='button' class='btn btn-default btn-delete'>
                    <a alt='Delete Selected' data-toggle='tooltip' title='Delete Selected' class='delete-selected glyphicon glyphicon-remove'></a>
                </button>
            </div>
        </div>
        <table id='filter-table' class='table table-condensed table-striped table-hover table-bordered'>
            <thead id='filter-table-head'>
                <tr>
                    <th class='text-center toggle-checkbox'><input type="checkbox" id="toggle"></th>
                    <th class='text-center'>Name</th>
                    <th class='text-center'>Description</th>
                </tr>
            </thead>
            <tfoot id='filter-table-foot'>
                <tr>
                    <td colspan='999'>
                        <div class='pull-left'>
                            <div class='btn-group btn-group-sm trap-controllers'>
                                <button type='button' class='btn btn-default btn-delete'>
                                    <a alt='Delete Selected' data-toggle='tooltip' title='Delete Selected' class='delete-selected glyphicon glyphicon-remove'></a>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
            <tbody id='filter-table-body'>
            </tbody>
        </table>
    </div>
</div>

<div class='modal fade' id='error-message' tabindex='-1' role='dialog' aria-labelledby='error-message-label' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
                <h4 class='modal-title'>Error Handling Request</h4>
            </div>
            <div id='modal-body-error' class='modal-body'></div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-primary' data-dismiss='modal'>Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
