/* Global CSS */

.left-inset {
    margin-left: 20px;
}

.right-inset {
    margin-right: 20px;
}

.content {
    margin-top: 20px;
}

#trap-table {
    font-size:12px;
}

#global-throbber {
    position:absolute;
    top:50%;
    left:50%;
    width:55px;
    height:55px;
    margin-top:-22px; /* half the height */
    margin-left:-22px; /* half the width */
}
