{% extends 'system/base.html' %}

{% block header %}
<script>
var TRANSLATE = {
    'agentip': 'Agent IP',
    'eventid': 'Event ID',
    'category': 'Category',
    'uptime': 'Uptime',
    'severity': 'Severity',
    'traptime': 'Trap Time',
    'timewritten': 'Time Written To Database',
    'formatline': 'Message',
    'hostname': 'Hostname',
    'community': 'Community',
    'eventname': 'Event Name',
    'trapoid': 'Trap OID',
    'trapread': 'Trap Read',
    'enterprise': 'Enterprise',
    'id': 'ID' };

var INSPECTABLE = {
    'eventname': true,
    'category': true,
    'severity': true,
    'agentip': true,
    'eventid': true
};

function normal_row(row) {
    var heading = $('<tr>');
    var klass;
    
    switch(row.severity) {
        case 'warning':
        case 'Warning':
            klass = 'warning';
            break;
        case 'critical':
        case 'Critical':
            klass = 'danger';
            break;
        case 'ok':
        case 'Ok':
            klass = 'success';
            break;
    }
    
    $('<td>', {text: row.id}).appendTo(heading);
    $('<td>', {text: row.timewritten, class: 'text-center'}).appendTo(heading);
    $('<td>', {text: row.trapoid, class: 'text-center'}).appendTo(heading);
    $('<td>', {text: row.hostname, class: 'text-center'}).appendTo(heading);
    $('<td>', {text: row.severity.toUpperCase(), class: klass + " text-center"}).appendTo(heading);
    $('<td>', {text: row.category, class: 'text-center'}).appendTo(heading);
    $('<td>', {text: row.formatline.substring(0, TRUNCATE)}).appendTo(heading);

    return heading;
}

function unknown_row(row) {
    var heading = $('<tr>');
    
    $('<td>', {text: row.id}).appendTo(heading);
    $('<td>', {text: row.timewritten}).appendTo(heading);
    $('<td>', {text: row.trapoid}).appendTo(heading);
    $('<td>', {text: row.hostname}).appendTo(heading);
    $('<td>', {text: row.uptime}).appendTo(heading);
    $('<td>', {text: row.formatline.substring(0, TRUNCATE)}).appendTo(heading);
    
    return heading;
}

function load_body(page) {
    if(page == undefined) {
        PAGE = 0;
    } else {
        PAGE = page;
    }
    
    show_throbber('#inspect-table');
    
    var tbody = $('#inspector-view-tbody');
    
    tbody.empty();
    
    // If there aren't any traps just say so.
    if(sliced.length == 0) {
        var app = $('<tr>', {html: '<td colspan="999">No traps found in database.</td>'});
        app.appendTo(tbody);
    }
    // Otherwise draw the trap table
    else {
        $.each(sliced, function(i, d) {
            var app;
            app = func(d);

            app.appendTo(tbody);
        });
    hide_throbber('#inspect-table');
    }
}

function load_table() {
    
    load_header();
    var api_url = BASE_URL + 'api/trapview/read/' + TABLE;
        
    //~ Get the trap JSON
    $.getJSON(api_url, function(data) {
        TRAPS = data;
        load_body();
    });
}

function load_header() {
    var heading = $('<tr>');
    switch(TABLE) {
        case 'SnmpttUnknown':
            $('<th>', {text: 'ID', class: 'text-center'}).appendTo(heading);
            $('<th>', {text: 'Date Received', class: 'text-center'}).appendTo(heading);
            $('<th>', {text: 'Trap OID', class: 'text-center'}).appendTo(heading);
            $('<th>', {text: 'Hostname', class: 'text-center'}).appendTo(heading);
            $('<th>', {text: 'Uptime', class: 'text-center'}).appendTo(heading);
            $('<th>', {text: 'Message', class: 'text-center'}).appendTo(heading);
            break;
        case 'Snmptt':
        case 'SnmpttArchive':
        default:
            $('<th>', {text: 'ID', class: 'text-center'}).appendTo(heading);
            $('<th>', {text: 'Date Received', class: 'text-center'}).appendTo(heading);
            $('<th>', {text: 'Trap OID', class: 'text-center'}).appendTo(heading);
            $('<th>', {text: 'Hostname', class: 'text-center'}).appendTo(heading);
            $('<th>', {text: 'Severity', class: 'text-center'}).appendTo(heading);
            $('<th>', {text: 'Category', class: 'text-center'}).appendTo(heading);
            $('<th>', {text: 'Message', class: 'text-center'}).appendTo(heading);
            break;
    }
    $('#inspect-table-head').html(heading);
}

function set_inspectable() {
    
}

function load_insepctable(selection) {
    API_URL = BASE_URL + 'api/inspector/read/' + TABLE;

    $.getJSON(API_URL, function(d) {
        data = d[0];
        $.each(data, function(name, trap){
            if(INSPECTABLE[name]) {
                $("#add-inspect").append(
                    $("<option></option>").text(TRANSLATE[name]).val(name)
                );
            }           
        });
    });
}

$(document).ready(function() {

    load_insepctable();

    $("#add-inspect").change(function() {
        $('#add-inspect option:selected').text($(this).attr('selected'));
        set_inspectable();
    });

    var options1 = {
        chart: {
            renderTo: 'chart-container-line',
            type: 'line'
        },
        title: {
            text: 'Inspector Line Graph'
        },
        xAxis: {
            type: 'datetime'
        },
        series: []
    };

    var options2 = {
        chart: {
            renderTo: 'chart-container-pie',
            type: 'pie'
        },
        title: {
            text: 'Inspector Pie Graph'
        },
        xAxis: {
            type: 'datetime'
        },
        series: []
    };

    var API_URL = BASE_URL + 'api/inspector/chart/read/' + TABLE;

    $.getJSON(API_URL, function(traps) {
        var property = $('#add-inspect option:selected').val();
        new_series = [];

        $.each(traps, function(index, trap) {

            var timewritten = trap['timewritten'];
            var value = trap[property];

            new_series.push([timewritten * 1000, value]);
        });

        hc_series = {data: new_series};
        options1.series.push(parseFloat(hc_series));
        options2.series.push(parseFloat(hc_series));
        console.log(hc_series);
        var chart = new Highcharts.Chart(options1);
        var chart = new Highcharts.Chart(options2);
    });

    $('input[name=table]').change(function() {
        show_throbber('#content');
        TABLE = $(this).val();
        load_table();
        hide_throbber('#content');
    });

    $('.goto-view').click(function() {
        
    });


});
</script>
{% endblock header %}

{% block content %}
<div>
    <form class='form-inline'>
        <div id='inspect-cat' class='input-group'>
            <span class='input-group-addon'>Trap Type:</span>
            <select id="add-inspect" class="form-control" style="width:auto;"></select>
            <input type="button" id="apply-inspect" class="btn btn-primary" style="margin-left:15px;" value="Inspect">
        </div>
    </form>
</div>

<div id='inspect-content' class='row container content'>
    <div class='panel panel-default'>
        <div id="panel-title" class="panel-heading text-right"></div>

        <table id='inspect-table' class="table table-condensed table-hover table-striped">
            <thead id="inspect-table-head"></thead>
            <tbody id="inspector-view-tbody"></tbody>
            <tfoot id='trap-table-foot'></tfoot>
        </table>
        <div class='panel panel-default'>
            <div class='col-md-6'>
                <div id='chart-container-line' class="linechart" style="width:100%; height:400px;"></div>
            </div>
            <div class='col-md-6'>
                <div id='chart-container-pie' class="piechart" style="width:100%; height:400px;"></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}