<!DOCTYPE html>

<html lang='en'>
    <head>
        <link rel='stylesheet' href='{{ static("css/bootstrap.css") }}' />
        <link rel='stylesheet' href='{{ static("css/jquery-ui-1.10.4.min.css") }}' />
        <link rel='stylesheet' href='{{ static("css/nsti.css") }}' />
        <title>{{ title or 'NSTI' }}</title>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="NSTI Frontend">
        <meta name="author" content="Nicholas Scott, Luke Groschen">
        <script src='{{ static("js/jquery-1.10.2.min.js") }}'></script>
        <script src='{{ static("js/jquery-ui-1.10.4.min.js") }}'></script>
        <script src='{{ static("js/bootstrap.min.js") }}'></script>
        <script src='{{ static("js/highcharts.js") }}'></script>
        <script src='{{ static("js/jquery-ui-timepicker-addon.js") }}'></script>
        <script src='{{ static("js/nsti.js") }}'></script>
        <script>
        var BASE_URL = '{{ request.url_root }}';
        var TRUNCATE = {{ session.TRUNCATE or 100 }};
        var PERPAGE = 25;
        var TABLE = '{{ session.get("table", "Snmptt") }}';
        var PAGE = 0;
        var WINDOW = 20;
        var TRAPS;
        var COLUMNS = ['formatline',
                       'category',
                       'uptime',
                       'severity',
                       'hostname',
                       'community',
                       'agentip',
                       'eventname',
                       'trapoid',
                       'enterprise']
        </script>
        {% block header %}
        {% endblock %}
    </head>

    <body class="container">
        {% include 'system/navbar.html' %}
        {% block content %}
        {% endblock content %}
        <div id='global-throbber'>
            <img src='{{ static("img/throbber.gif") }}' alt='throbber'>
        </div>

        <div class='modal fade' id='error-message' tabindex='-1' role='dialog' aria-labelledby='error-message-label' aria-hidden='true'>
            <div class='modal-dialog'>
                <div class='modal-content'>
                    <div class='modal-header'>
                        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
                        <h4 class='modal-title'>Error Handling Request</h4>
                    </div>
                    <div id='modal-body-error' class='modal-body'></div>
                    <div class='modal-footer'>
                        <button type='button' class='btn btn-primary' data-dismiss='modal'>Close</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
