/* Global CSS */

.left-inset {
    margin-left: 20px;
}

#error-message {
    z-index: 9900;
}
.right-inset {
    margin-right: 20px;
}

.content {
    margin-top: 20px;
}

#trap-table, #inspect-table {
    font-size:12px;
}

#global-throbber {
    position:absolute;
    top:50%;
    left:50%;
    width:55px;
    height:55px;
    margin-top:-22px; /* half the height */
    margin-left:-22px; /* half the width */
}

.goto-view {
    margin: 2px 5px 2px 5px;
}

.message-column {
    min-width: 545px;
}

.trap-controllers, .inspect-controllers {
    margin:10px;
}

.place-holder-div {
    margin:0 15px 0 15px;
    min-height: 41px;
}

.toggle-checkbox {
    width:30px;
}

#filter-table .label {
    margin-right:5px;
    font-size: 14px;
}

/* fix for modal shifting the div to the left */
body {
    overflow-y: scroll;
}

body.modal-open {
    overflow-y: scroll;
    margin: 0 auto;
}

.modal {
    overflow: auto;
}

.label-margin {
    margin-left: 5px;
}

.inspector-icon {
    margin-left:5px;
    color: #428bca;
}

.width-auto {
    width: auto;
}

.brick-red {
    color: #C00000;    
}

.form-select-div {
   margin:0 0 10px 10px; 
}

.inspector-icon > .active > a:hover,
.inspector-icon > .active > a:focus {
    color: #357ebd;
    background-color: transparent;
}

.inspect-select {
    width: 80%;
}

.make-tag {
    margin-left: 5px;
    margin-bottom: 5px;
}