{% block header %}
<script>
var TRANSLATE = {
    'agentip': 'Agent IP',
    'eventid': 'Event ID',
    'category': 'Category',
    'uptime': 'Uptime',
    'severity': 'Severity',
    'traptime': 'Trap Time',
    'timewritten': 'Time Written To Database',
    'formatline': 'Message',
    'hostname': 'Hostname',
    'community': 'Community',
    'eventname': 'Event Name',
    'trapoid': 'Trap OID',
    'trapread': 'Trap Read',
    'enterprise': 'Enterprise',
    'id': 'ID' 
};
    
function render_trap() {

    
    var api_url = BASE_URL + 'api/trapview/read/{{ table }}';
    
    
    var query = {id: {{ trapid }}};
    
    $.getJSON(api_url, query, function(data) {
        var trap = data[0];
        var inspect_URL = BASE_URL + 'inspector/' + trap.id;

        $('<h4>', {text: "Trap Information for Trap ID " + trap.id}).appendTo('#panel-title');
        
        $.each(trap, function(key, value) {
            var tr = $('<tr>');
            var content_td = $('<td>');

            $('<td>', {text: TRANSLATE[key]}).appendTo(tr);

            if(key == true) {
                var a = $('<a>', {text: value + ' '});
                var s = $('<span>', {class: "glyphicon glyphicon-search"});
                s.appendTo(a);
                a.appendTo(content_td);
            } else {
                content_td.text(value);
            }

            content_td.appendTo(tr);
            tr.appendTo('#trap-view-tbody');
        });
        
        hide_throbber();
    });
}

$(document).ready(function() {
    var query = "";
    var api_url = "";
    render_trap();
});
</script>
{% endblock header %}

{% block content %}
<div class="modal-dialog" style="min-width:780px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Trapview</h4>
        </div>
        <div class="modal-body" id="trapview-body">
            <div class='row container content' style="margin:auto;">
                <div class="panel panel-default">
                    <div id="panel-title" class="panel-heading text-right"></div>
                    <table class="table table-condensed table-hover table-striped">
                        <thead>
                            <tr>
                                <th width="30%">Key</th>
                                <th width="70%">Value</th>
                            </tr>
                        </thead>
                        <tbody id="trap-view-tbody"></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="trapview-modal-close" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}