{% extends 'system/base.html' %}

{% block header %}
<script>
/* Declare some comparison operators */
var LESS_THAN = {nicename: 'is less than', value: '__lt'};
var GREATER_THAN = {nicename: 'is greater than', value: '__gt'};
var CONTAINS = {nicename: 'contains', value: '__contains'};
var EXACTLY = {nicename: 'is exactly', value: ''};

/* Create a datastructure that explains what is viable as a filter and
 * what properties should most definitely exist.
 */
var FILTER_DEFS = {
    timewritten: construct_new_atom('Date', [LESS_THAN, GREATER_THAN]),
    trapoid: construct_new_atom('Trap OID', [CONTAINS, EXACTLY]),
    enterprise: construct_new_atom('Enterpise OID', [CONTAINS, EXACTLY]),
    hostname: construct_new_atom('Hostname', [CONTAINS, EXACTLY]),
    category: construct_new_atom('Category', [CONTAINS, EXACTLY]),
    severity: construct_new_atom('Severity', [CONTAINS, EXACTLY]),
    agentip: construct_new_atom('Agent IP', [CONTAINS, EXACTLY])
}

var TRANSLATE = {
    'agentip': 'Agent IP',
    'eventid': 'Event ID',
    'category': 'Category',
    'uptime': 'Uptime',
    'severity': 'Severity',
    'traptime': 'Trap Time',
    'timewritten': 'Time Written To Database',
    'formatline': 'Message',
    'hostname': 'Hostname',
    'community': 'Community',
    'eventname': 'Event Name',
    'trapoid': 'Trap OID',
    'trapread': 'Trap Read',
    'enterprise': 'Enterprise',
    'id': 'ID' };

var INSPECTABLE = {
    'category': true,
    'severity': true,
    'hostname': true,
    'trapoid': true
};

/* Table drawing functions */
function make_pagination() {

    pdiv = $('div#pagination');
    sdiv = $('div#pagination-summary');
    sdiv.empty();
    pdiv.empty();

    // Set our pagination window
    if(PAGE - Math.floor(WINDOW/2) < 0) {
        minpage = 0;
        maxpage = WINDOW;
    }
    else if(PAGE + Math.floor(WINDOW/2) > pages - 1) {
        minpage = pages - WINDOW;
        maxpage = pages;
    }
    else {
        minpage = PAGE - Math.floor(WINDOW/2);
        maxpage = PAGE + Math.floor(WINDOW/2);
    }

    pages = Math.ceil(TRAPS.length / PERPAGE);
    var ul = $('<ul>', {class: 'pagination', style: 'margin-bottom:0;'});

    // Draw the << list item
    var li = $('<li>', {html: '<span>&laquo;</span>'});
    if(PAGE == 0) {
        li.addClass('disabled');
    } else {
        li.click(function() {load_body(0);});
    }
    li.appendTo(ul);

    // Draw the Prev list item
    var li = $('<li>', {html: '<span>Prev</span>'});
    if(PAGE == 0) {
        li.addClass('disabled');
    } else {
        li.click(function() {load_body(PAGE-1);});
    }
    li.appendTo(ul);

    // Draw each individual link
    var paginated = 0;
    for(var i=0, l=TRAPS.length; i<pages; i++) {
        // If this is the first page, we want to deactivate the first arrow
        if(i >= minpage && i < maxpage) {
            paginated++;
            var li = $('<li>', {html: '<span>' + (i+1) + '</span>', pageindex: i});
            if(i == PAGE) {
                li.addClass('active')
            }
            li.click(function() {var index=$(this).attr('pageindex'); load_body(index);});
            li.appendTo(ul);
        }
    }

    // Draw the Next list item
    var li = $('<li>', {html: '<span>Next</span>'});
    if(PAGE == pages-1) {
        li.addClass('disabled');
    } else {
        li.click(function() {load_body(PAGE+1);});
    }
    li.appendTo(ul);

    // Draw the >> list item
    var li = $('<li>', {html: '<span>&raquo;</span>'});
    if(PAGE == pages-1) {
        li.addClass('disabled');
    } else {
        li.click(function() {load_body(pages - 1);});
    }

    li.appendTo(ul);

    $('<div>', {class: 'label label-default pull-right', text: 'Page ' + (PAGE + 1) + ' of ' + pages}).appendTo(sdiv);
    $('<div>', {class: 'label label-default', text: TRAPS.length + ' Traps Total | Displaying ' + (PAGE*PERPAGE) + ' - ' + Math.min(TRAPS.length, (PAGE*PERPAGE) + PERPAGE)}).appendTo(sdiv);

    ul.appendTo(pdiv);
}

function normal_row(row) {
    var heading = $('<tr>');
    var klass;

    switch(row.severity) {
        case 'warning':
        case 'Warning':
            klass = 'warning';
            break;
        case 'critical':
        case 'Critical':
            klass = 'danger';
            break;
        case 'ok':
        case 'Ok':
            klass = 'success';
            break;
    }

    $('<td>', {text: row.id}).appendTo(heading);
    $('<td>', {html: '<input type="checkbox" class="trap-select-toggle" data-index="' + row.id + '"><a href="trapview/' + row.id + '?traptype=' + TABLE + '" data-toggle="modal" data-target="#trapview-modal" class="glyphicon glyphicon-eye-open goto-view"></a>'}).appendTo(heading);
    $('<td>', {text: row.timewritten, class: 'text-center'}).appendTo(heading);
    $('<td>', {text: row.trapoid, class: 'text-center'}).appendTo(heading);
    $('<td>', {text: row.hostname, class: 'text-center'}).appendTo(heading);
    $('<td>', {text: row.severity.toUpperCase(), class: klass + " text-center"}).appendTo(heading);
    $('<td>', {text: row.category, class: 'text-center'}).appendTo(heading);
    $('<td>', {text: row.formatline.substring(0, TRUNCATE)}).appendTo(heading);

    return heading;
}

function unknown_row(row) {
    var heading = $('<tr>');

    $('<td>', {text: row.id}).appendTo(heading);
    $('<td>', {html: '<input type="checkbox" class="trap-select-toggle" data-index="' + row.id + '"><a href="trapview/' + row.id + '?traptype=' + TABLE + '" data-toggle="modal" data-target="#trapview-modal" class="glyphicon glyphicon-eye-open goto-view"></a>'}).appendTo(heading);
    $('<td>', {text: row.timewritten}).appendTo(heading);
    $('<td>', {text: row.trapoid}).appendTo(heading);
    $('<td>', {text: row.hostname}).appendTo(heading);
    $('<td>', {text: row.uptime}).appendTo(heading);
    $('<td>', {text: row.formatline.substring(0, TRUNCATE)}).appendTo(heading);

    return heading;
}

function load_body(page) {
    if(page == undefined) {
        PAGE = 0;
    } else {
        PAGE = page;
    }

    make_pagination();
    // load_filters();

    show_throbber('#trap-table');

    var tbody = $('#trap-table-body');

    tbody.empty();

    switch(TABLE) {
        case 'Snmptt':
        case 'SnmpttArchive':
            var func = normal_row;
            break;
        case 'SnmpttUnknown':
            var func = unknown_row;
            break;
    }

    sliced = TRAPS.slice(PAGE*PERPAGE, (PAGE*PERPAGE) + PERPAGE);
    // If there aren't any traps just say so.
    if(sliced.length == 0) {
        var app = $('<tr>', {html: '<td colspan="999"><center>No traps found in database.</center></td>'});
        app.appendTo(tbody);
    }
    // Otherwise draw the trap table
    else {
        $.each(sliced, function(i, d) {
            var app;
            app = func(d);

            app.appendTo(tbody);
        });
    }
    hide_throbber('#trap-table');
}

function load_table() {

    show_applied_filters();
    load_header();
    var api_url = BASE_URL + 'api/trapview/read/' + TABLE;

    if(TABLE == 'Snmptt') {
        $('.btn-archive').show();
        $('.btn-delete').show();
    } else {
        $('.btn-archive').hide();
        $('.btn-delete').show();
    }

    pr = {'use_session_filters': 1}
    //~ Get the trap JSON
    $.getJSON(api_url, pr, function(data) {
        TRAPS = data;
        load_body();
    });
}

function toggle_selected() {
    $('.trap-select-toggle').each(function(d, i) {
        if($(i).is(':checked')) {
            $(i).prop('checked', false);
        } else {
            $(i).prop('checked', true);
        }
    });
}

function delete_traps() {
    var id = [];
    var api_url = BASE_URL + 'api/trapview/delete/' + TABLE;

    $('.trap-select-toggle:checked').each(function(i, d) {
        id.push($(d).attr('data-index'));
    });

    $.ajax({
        url: api_url,
        data: {id: id},
        traditional: true,
        success: function(data) {
            if(data.error) {
                show_error(data.error);
            } else {
                load_table();
            }
        }
    });
}

function archive_traps() {
    var id = [];
    var api_url = BASE_URL + 'api/trapview/archive';

    $('.trap-select-toggle:checked').each(function(i, d) {
        id.push($(d).attr('data-index'));
    });

    $.ajax({
        url: api_url,
        data: {id: id},
        traditional: true,
        success: function(data) {
            if(data.error) {
                show_error(data.error);
            } else {
                load_table();
            }
        }
    });
}

function load_header() {
    var heading = $('<tr>');
    switch(TABLE) {
        case 'SnmpttUnknown':
            $('<th>', {text: 'ID', class: 'text-center'}).appendTo(heading);
            $('<th>', {html: '<input type="checkbox" id="toggle">', class: 'text-center'}).appendTo(heading);
            $('<th>', {text: 'Date Received', class: 'text-center'}).appendTo(heading);
            $('<th>', {text: 'Trap OID', class: 'text-center'}).appendTo(heading);
            $('<th>', {text: 'Hostname', class: 'text-center'}).appendTo(heading);
            $('<th>', {text: 'Uptime', class: 'text-center'}).appendTo(heading);
            $('<th>', {text: 'Message', class: 'text-center message-column'}).appendTo(heading);
            break;
        case 'Snmptt':
        case 'SnmpttArchive':
        default:
            $('<th>', {text: 'ID', class: 'text-center'}).appendTo(heading);
            $('<th>', {html: '<input type="checkbox" id="toggle">', class: 'text-center'}).appendTo(heading);
            $('<th>', {text: 'Date Received', class: 'text-center'}).appendTo(heading);
            $('<th>', {text: 'Trap OID', class: 'text-center'}).appendTo(heading);
            $('<th>', {text: 'Hostname', class: 'text-center'}).appendTo(heading);
            $('<th>', {text: 'Severity', class: 'text-center'}).appendTo(heading);
            $('<th>', {text: 'Category', class: 'text-center'}).appendTo(heading);
            $('<th>', {text: 'Message', class: 'text-center message-column'}).appendTo(heading);
            break;
    }
    $('#trap-table-head').html(heading);
}

function remove_trap_filter_active(name) {
    var API_URL = BASE_URL + 'api/filter/delete-active-filter';
    var data = {};
    var block = true;

    if (name === undefined) {
        data['all'] = 1;
    }
    else {
        data['name'] = name;
    }

    $.getJSON(API_URL, data, function(d) {
        block = false;
        if (d.error) {
            console.log(d.error);
        }
    }).error(function() {block = false;});
}

function add_trap_filter_active(name) {
    var API_URL = BASE_URL + 'api/filter/add-active-filter';

    $.getJSON(API_URL, {name:name}, function(data) {
        var tag = make_tag(name);
        tag.appendTo('#filter-div');
        load_table();
    });
}

//make tags for active filters applied to traplist
function make_tag(name) {
    var API_URL = BASE_URL + 'api/filter/delete-active-filter';
    var s = $('<span>', {class: 'btn btn-success make-tag', text: name + ' ', id: name});
    var x = $('<span>', {class: 'glyphicon glyphicon-remove'});

    x.click(function() {
        var d = $(this).parent(".btn");
        $.getJSON(API_URL, {name: name}, function() {
            d.remove();
            load_table();
        });
    });
    x.appendTo(s);
    return s;
}

function do_trap_search() {
    API_URL = BASE_URL + 'api/trapview/read/' + TABLE;
    var q = $("#search-arg").val();
    var pr = {'combiner': 'OR',
              'use_session_filters': 1};

    $.each(COLUMNS, function(i) {
        var keyname = COLUMNS[i] + '__contains';
        pr[keyname] = q;
    });

    $.getJSON(API_URL, pr, function(data) {
        TRAPS = data;
        load_body();
     });
}

/* Helper function for creating the FILTER_DEF datastructure. */
function construct_new_atom(nicename, comparisons) {
    if (comparisons == undefined) {
        comparisons = [];
    }
    
    return {nicename: nicename,
            comparisons: comparisons}
}

function add_filter() {
    var API_URL = BASE_URL + 'api/filter/create';
    var name = $('#filter-name').val();
    var atoms = [];

    $('form.atoms').each(function(d) {
        var k = {};
        var j = $(this).serializeArray();

        $.each(j, function(i, n) {
            k[n.name] = n.value;
        });
        k = JSON.stringify(k);
        atoms.push(k);
    });

    show_throbber();
    $.getJSON(API_URL, {atoms: atoms, 'name': name}, function(d) {
        if(d.error) {
            show_error("Error: Failed to add new filter: " + d.error);
        } else {
            filter_select_populate();
            $('#add-filter-modal').modal('hide');
        }
        hide_throbber();
    });
}

function get_tr_for_filter(name, filter) {
    var tr = $('<tr>', {'data-index': name});
    var checkbox = $('<input>', {type: 'checkbox',
                                 class: 'filter-select-toggle',
                                 'data-id': filter.id,
                                 'data-index': name});
    $('<td>', {html: checkbox}).appendTo(tr);
    $('<td>', {text: name}).appendTo(tr);

    var td_div = $('<td>').appendTo(tr);

    $.each(filter.actions, function(k, v) { 
        $('<div>', {text: v.column_name + " " + v.comparison + " " + v.value}).appendTo(td_div);
    });
    return tr;
}

function get_column_name_select(column_name) {
    var column_name_sel = $('<select>', {name: 'column_name', class: 'form-control', id: 'new-atom'});
    column_name != undefined
    set_name = column_name
    
    $.each(FILTER_DEFS, function(key, value) {
        var opt_data = {value: key, 
                        text: value.nicename};
        if(set_name && column_name == opt_data.value) {
            opt_data.selected = 'selected';
        }
        
        column_name_sel.append($('<option>', opt_data));
    })
    
    return column_name_sel;
}

function get_column_comp_select(comparison) {
    var column_comp_sel = $('<select>', {class: 'form-control', name: 'comparison', id: 'comparison'});
    return column_comp_sel;
}

function fill_comp(value, select_box, given_comparison) {
    select_box.empty();
    set_comparison = given_comparison != undefined
    
    $.each(FILTER_DEFS[value].comparisons, function(i, d) {
        var opt_data = {value: d.value, 
                        text: d.nicename};
        if (set_comparison && d.value == given_comparison) {
            opt_data.selected = 'selected';
        }
        select_box.append($('<option>', opt_data));
    });
}

function add_new_atom(column_name, comparison, value) {
    // Make our skeleton
    // console.log(column_name, comparison, value);
    var new_form = $('<form>', {class: 'atoms form-inline', role: 'form'});
    var form_div = $('<div>', {class: 'row form-select-div'});
    new_form.append(form_div);
    
    // Assemble the select box that will hold the column names
    var column_name_div = $('<div>', {class: 'form-group'});
    var column_name_sel = get_column_name_select(column_name);
    column_name_div.append(column_name_sel);
    form_div.append(column_name_div);
    
    // Assemble the select box that will hold the comparison operator for the column name
    var column_comp_div = $('<div>', {class: 'form-group'});
    var column_comp_sel = get_column_comp_select();
    column_comp_div.append(column_comp_sel);
    form_div.append(column_comp_div);
    
    // Set the change for the column name to trigger the column comparison redraw
    column_name_sel.change(function() {fill_comp(column_name_sel.val(), column_comp_sel, comparison)});
    column_name_sel.change();
    
    // Make the text input that will take user input to compare to the column
    var column_value_div = $('<div>', {class: 'form-group'});
    column_value_div.append($('<input>', {name: 'val', 
                                          class: 'form-control', 
                                          placeholder: '...', 
                                          value: (value==undefined) ? '' : value}));
    form_div.append(column_value_div);
    
    // Make the remove button
    var remove_atom_div = $('<div>', {class: 'form-group'});
    var remove_atom_btn = $('<button>', {class: 'btn btn-default remove_atom', type: 'button'});
    remove_atom_btn.append($('<span>', {class: "glyphicon glyphicon-remove brick-red"}));
    remove_atom_btn.click(function() {new_form.remove();});
    remove_atom_div.append(remove_atom_btn);
    form_div.append(remove_atom_div);
    
    $('#insert-div').append(new_form);
}
//end filter creation functions

//create highcharts graphs
function draw_charts() {
    graphObject1 = [];
    graphObject2 = [];
    counter = [];

    var options1 = {
        chart: {
            renderTo: 'chart-container-bar',
            type: 'bar'
        },
        credits: {
            enabled: false
        },
        title: {
            text: 'Trap Bar Graph' 
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            min: 0,
            title: 'Number of Traps'
        },
        legend: {
            labelFormat: '{name}'
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            },
            bar: {
                states: {
                    dataLabels: {
                        enabled: true,
                    }
                }
            }
        },
        series: []
    };

    var options2 = {
        chart: {
            renderTo: 'chart-container-pie',
            type: 'pie'
        },
        credits: {
            enabled: false
        },
        title: {
            text: 'Trap Pie Graph'
        },
        yAxis: {
            max: 25
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.y} Traps</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                }
            }
        },
        series: []
    };

    var API_URL = BASE_URL + 'api/inspector/chart/read/' + TABLE;

    $.getJSON(API_URL, function(traps) {
        var inspect_target = $('#add-data option:selected').val();
        var count = 0;
        bar_count1 = 0;
        bar_count2 = 0;
        bar_count3 = 0;
        bar_count4 = 0;
        pie_count1 = 0;
        pie_count2 = 0;
        pie_count3 = 0;
        pie_count4 = 0;

        var container = [];
        var trap_series = [];

        $.each(traps, function(index, trap) {
            var timewritten = parseFloat(trap.timewritten);
            var trapid = trap.id;
            count++;

            // var current_series = trap_series[trap.category];
            // if (!current_series) {
            //     current_series = {
            //         name: trap.category,
            //         data: []
            //     };

            //     options1.series.push(current_series);
            //     trap_series[trap.category] = current_series;
            // }

            // current_series.data.push({
            //     name: trap.category,
            //     x: timewritten * 1000
            // });

            switch (inspect_target) {

                case 'category':
                //******may need to account for other possible categories******
                    var value1 = trap.category;
                    var value2 = trap.category;

                    if (value1 == 'Closure') {
                        bar_count1++;
                    } else if (value2 == 'Status Event') {
                        bar_count2++;
                    } else if (value2 == 'Other Event') {
                        bar_count3++;
                    }

                    if (value2 == 'Closure') {
                        pie_count1++;
                    } else if (value2 == 'Status Event') {
                        pie_count2++;
                    } else if (value2 == 'Other Event') {
                        pie_count3++;
                    }

                    if (count >= traps.length) {
                        graphObject1 = {
                            data: [{
                                name: 'Closure',
                                color: '#75d175',
                                y: bar_count1
                            }, {
                                name: 'Status Event',
                                color: '#428bca',
                                y: bar_count2
                            }, {
                                name: 'Other Event',
                                color: '#f0ad4e',
                                y: bar_count3
                            }]
                        }

                        graphObject2 = {
                            type: 'pie',
                            name: 'Category',
                            data: [
                                ['Closure', pie_count1],
                                ['Status Event', pie_count2],
                                ['Other Event', pie_count3]
                            ]
                        }
                    }

                    break;

                case 'severity':
                    var value1 = trap.severity;
                    var value2 = trap.severity;

                    if (value1 == 'ok') {
                        bar_count1++;
                    } else if (value2 == 'normal') {
                        bar_count2++;
                    } else if (value2 == 'warning') {
                        bar_count3++;
                    } else if (value2 == 'critical') {
                        bar_count4++;
                    }

                    if (value2 == 'ok') {
                        pie_count1++;
                    } else if (value2 == 'normal') {
                        pie_count2++;
                    } else if (value2 == 'warning') {
                        pie_count3++;
                    } else if (value2 == 'critical') {
                        pie_count4++;
                    }
                    
                    if (count >= traps.length) {
                        graphObject1 = {
                            data: [{
                                name: 'OK',
                                color: '#75d175',
                                y: bar_count1
                            }, {
                                name: 'Normal',
                                color: '#428bca',
                                y: bar_count2
                            }, {
                                name: 'Warning',
                                color: '#f0ad4e',
                                y: bar_count3
                            }, {
                                name: 'Critical',
                                color: '#d9534f',
                                y: bar_count4
                            }]
                        }

                        graphObject2 = {
                            type: 'pie',
                            name: 'Severity',
                            data: [
                                ['OK', pie_count1],
                                ['Normal', pie_count2],
                                ['Warning', pie_count3],
                                ['Critical', pie_count4]
                            ]
                        }
                    }

                    break;

                case 'hostname':
                    container.push(trap.hostname);

                    if (count >= traps.length) {
                        counter = {};
                        for (var i = 0; i < container.length; i++) {

                            if(counter[container[i]]) {
                                counter[container[i]] = counter[container[i]] + 1;
                            } else {
                                counter[container[i]] = 1;
                            }
                        }

                        var ipdata = [];
                        $.each(counter, function(ip, num) {
                            obj = {
                                name: ip,
                                y: num
                            }
                            ipdata.push(obj);
                        });

                        graphObject1 = {
                            type: 'bar',
                            data: ipdata
                        }

                        graphObject2 = {
                            type: 'pie',
                            data: ipdata
                        }
                    }

                    break;

                case 'trapoid':
                    container.push(trap.trapoid);

                    if (count >= traps.length) {
                        counter = {};
                        for (var i = 0; i < container.length; i++) {

                            if(counter[container[i]]) {
                                counter[container[i]] = counter[container[i]] + 1;
                            } else {
                                counter[container[i]] = 1;
                            }
                        }

                        var trapoidata = [];
                        $.each(counter, function(oid, num) {
                            obj = {
                                name: oid,
                                y: num
                            }
                            trapoidata.push(obj);
                        });

                        graphObject1 = {
                            type: 'bar',
                            data: trapoidata
                        }

                        graphObject2 = {
                            type: 'pie',
                            data: trapoidata
                        }
                    }

                    break;

                default:

                    break;
            }
        });

        console.log(graphObject1);

        options1.series.push(graphObject1);
        options2.series.push(graphObject2);
        var chart = new Highcharts.Chart(options1);
        var chart = new Highcharts.Chart(options2);
    });
}
//end graph builds

function set_inspectable(set) {
    $('#add-data option:selected').text(set);
}

function load_insepctable() {
    API_URL = BASE_URL + 'api/inspector/read/' + TABLE;

    $.getJSON(API_URL, function(d) {
        data = d[0];
        $.each(data, function(name, trap) {
            if(INSPECTABLE[name]) {
                $("#add-data").append(
                    $("<option></option>").text(TRANSLATE[name]).val(name)
                );
            }
        });
    });
}

//populate list of existing filter to apply to traplist
function filter_select_populate() {
    API_URL = BASE_URL + 'api/filter/read';
    $('#add-filter').empty();
    remove_trap_filter_active();

    $.getJSON(API_URL, function(d) {
        $("#add-filter").append($("<option value='Select' selected></option>"));

        $.each(d.filters, function(name, filter){
            $("#add-filter").append(
                $("<option></option>").text(name)
            );
        });
    });
}

function show_applied_filters() {
    fdiv =  $('#filter-div');
    fdiv.empty();

    var API_URL = BASE_URL + 'api/filter/read-active-filter'
    $.getJSON(API_URL, function(d) {
        $.each(d.filters, function(i, e) {
            fdiv.append(make_tag(e));
        })
    });
}

$(document).ready(function() {

    filter_select_populate();

    $('#trap-search').click(do_trap_search);

    $('#search-arg').keypress(function(event) {
        if (event.which == 13) {
            event.preventDefault();
            do_trap_search();
        }
    });

    $('#new-filter, #modal-reset').click(function() {
        $('#insert-div').empty();
        $('#filter-name').val("");
        add_new_atom();
        $('#add-filter-modal').modal('show');
    });

    $('#add-new-filter').click(function() {
        add_filter();
    });

    $('#new-atom-button').click(function() {
        add_new_atom();
    });

    //apply filters to traplist page and make tags with 'Apply' button
    $('#apply-filter').click(function() {
        var name = $('#add-filter option:selected').val();
        var add = true;

        $('#filter-div .btn').each(function(v) {
            if(name == $(this).text().trim()) {
                add = false;
            }
        });

        if(add == true) {
            add_trap_filter_active(name);
        }
    });

    $("#collapse-div").click(function() {
        if ($(this).text()==="Expand") {
            $(this).button('open');
        } else {
            $(this).button('reset');
        }
    });

    Highcharts.setOptions({
        colors: ['#428bca', '#5cb85c', '#f0ad4e', '#d9534f', '#5bc0de', '#2bd34e', '#f5c989', '#dd765a']
    });

    load_insepctable();
    draw_charts();

    $("#add-data").change(function() {
        set = $(this).attr('selected');
        set_inspectable(set);
    });

    $('#apply-inspect').click(function() {
        draw_charts();
    });

    $('input[name=table]').change(function() {
        show_throbber('#trap-content');
        TABLE = $(this).val();
        load_table();
        hide_throbber('#trap-content');
    });

    $('.goto-view').click(function() {
    });

    $('#table-normal').trigger('change');

    $('#toggle').click(function() {
        toggle_selected();
    });

    $('.delete-selected').click(function() {
        delete_traps();
    });

    $('.archive-selected').click(function() {
        archive_traps();
    });

});
</script>
{% endblock header %}

{% block content %}
<div class='row' style='min-width:1200px;'>
    <div class='col-md-3'>
        <div class='btn-group left-inset' data-toggle='buttons'>
            <label class='btn btn-primary active'>
                <input id='table-normal' type='radio' name='table' value='Snmptt' selected='selected'>Normal
            </label>
            <label class='btn btn-primary'>
                <input type='radio' name='table' value='SnmpttArchive'>Archive
            </label>
            <label class='btn btn-primary'>
                <input type='radio' name='table' value='SnmpttUnknown'>Unknown
            </label>
        </div>
    </div>
    <div class='row col-md-4'>
        <form class='form-inline'>
            <div id='d-trap-search' class='input-group'>
                <span class='input-group-addon'>Search:</span>
                <input type='text' id='search-arg' class='form-control' style='width:auto;' placeholder='Search Traplist..'>
                <input type="button" id='trap-search' class='btn btn-primary' style="margin-left:10px;" value="Search">
            </div>
        </form>
    </div>
    <div class="row col-md-5">
        <form class="form-inline" style="margin-left:25px;">
            <div id='filter-table' class='input-group'>
                <a alt='Add Filter' id='new-filter' title='Add Filter' class='input-group-addon'>
                <span class='glyphicon glyphicon-plus'></span>
                </a>
                <span class='input-group-addon'>Select Filter:</span>
                <select id="add-filter" class="form-control" style="width:auto;max-width:200px;"></select>
                <input type="button" id="apply-filter" class="btn btn-primary" style="margin-left:10px;" value="Apply">
            </div>
        </form>
    </div>
    <div class='row col-md-11' style='min-height:40px;margin:7px 15px 0 15px;'>
        <div id='filter-div' class='input-group'></div>
    </div>
</div>

<div class='panel panel-default' style='margin-top:20px;'>
    <div class='panel-heading'>
        <button type='button' id='collapse-div' class='btn label label-default' data-toggle='collapse' data-target='#inspector-div' data-open-text='Collapse'>Expand</button>
        <p class='pull-right' style='color:#777777;'><b>SNMP Trap Data Visualizer</b></p>
    </div>
    <div id='inspector-div' class='collapse'>
        <div class='input-group inspect-select' style='margin:10px 0 0 10px;'>
            <span class='input-group-addon'>Graph By:</span>
            <select id='add-data' class='form-control' style='width:auto;'></select>
            <input type='button' id='apply-inspect' class='btn btn-primary' style='margin-left:15px;' value="Draw Graphs">
        </div>
        <table id='graph-table' class='table'>
            <tr>
                <td style='border:none;'>
                    <div>
                        <div class='col-md-6'>
                            <div id='chart-container-bar' class="linechart" style="height:400px;"></div>
                        </div>
                        <div class='col-md-6'>
                            <div id='chart-container-pie' class="piechart" style="height:400px;"></div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div id='trap-content' class='row container content'>
    <div class="panel panel-default">
        <div class='panel-heading' id='pagination-summary'></div>
        <div id='pagination' class='panel-body text-center' style="padding:0;"></div>
        <div class='pull-left'>
            <div class='btn-group btn-group-sm trap-controllers'>
                <button type='button' class='btn btn-default btn-delete'>
                    <a alt='Delete Selected' data-toggle='tooltip' title='Delete Selected' class='delete-selected glyphicon glyphicon-remove'></a>
                </button>
                <button type='button' class='btn btn-default btn-archive'>
                    <a alt='Archive Selected' data-toggle='tooltip' title='Archive Selected' class='archive-selected glyphicon glyphicon-tag'></a>
                </button>
            </div>
        </div>
        <table id='trap-table' class='table table-condensed table-striped table-hover table-bordered'>
            <thead id='trap-table-head'></thead>
            <tfoot id='trap-table-foot'>
                <tr>
                    <td colspan='999'>
                        <div class='pull-left'>
                            <div class='btn-group btn-group-sm trap-controllers'>
                                <button type='button' class='btn btn-default btn-delete'>
                                    <a alt='Delete Selected' data-toggle='tooltip' title='Delete Selected' class='delete-selected glyphicon glyphicon-remove'></a>
                                </button>
                                <button type='button' class='btn btn-default btn-archive'>
                                    <a alt='Archive Selected' data-toggle='tooltip' title='Archive Selected' class='archive-selected glyphicon glyphicon-tag'></a>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
            <tbody id='trap-table-body'></tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="trapview-modal" role="dialog" hidden="true"></div>

<div class="modal fade" id="add-filter-modal" hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create A New Filter</h4>
            </div>
            <div class="modal-body">
                <form>
                    <table>
                        <td valign="top">
                            <label>New Filter Name:</label>
                            <input type="text" class="form-control" id="filter-name" placeholder="New Filter"><br><br>
                        </td>
                    </table>
                </form>
                <div id="atom-home">
                    <h4 class="modal-title">Filters</h4><br>
                    <div id="insert-div">
                    </div>
                    <br>
                    <input type="button" id="new-atom-button" class="btn btn-default" value="Add New Filter">
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" id="modal-reset">Reset</button>
                    <button type="submit" class="btn btn-primary" id="add-new-filter">Add New Filter</button>
                </div>
            </div>
        </div>
   </div>
</div>
{% endblock content %}